body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.f-section{
  /* display: inline-flex; */
  /* height: 300px; */
  border: 8px solid red;
  height: 552px;
  background-image: url("images/man2.png");
  float: left;
}
.f-content{
    width: 50%;
    /* height: 70%; */
    float: left;
}
h1{
    font-size: 40px ;
}
h2{
    color: orange;
}
p{
    color: #726f6f;
}
.f-img{
    /* width: 40%; */
    /* height: 70%; */
}
.f-img img{
    width: 20%;
}